body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5!important;
  }

  .App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-top: auto;
    color: #000000;
    justify-content: center;
    /* background-color: #60B7FF; */
  }

  .textFooter {
    color: #000000;
    font-size: 16px;
  }

  .iconFooter {
    width: 1.2em;
  }

  @media screen and (max-width: 768px) {
    .footer {
      justify-content: center;
    }
  }