body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5!important;
  }

  .textFooter {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
  }

.iconFooter {
  color: #000000;
  font-size: 20px;
}